<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <footer>
        <div id="footer">
            <div id="banner">
                <nav class="footerNav">
                    <a href="user_homepage.php">Home |</a>
                    <a href="user_profile.php">Profile |</a>
                    <a href="all_articles.php">All articles</a>
                </nav>
                <span class="footerNav">Copyright &copy; 2020</span>
            </div>
        </div>
    </footer>
</body>

</html>
