<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div id="header">
        <img id="ecosphere_logo" src="/View/img/logo-paysage.png" alt="logo" width="195"/>
        <img id="isep_logo" src="/View/img/logo-isep.png" alt="logo" width="60"/>

        <div id="banner">
            <nav class="navbar">
                <a href="../index.php">Home</a>
                <a href="../View/about.php">About</a>
                <a href="../View/product.php">Product</a>
                <a href="../View/help.php">Help</a>
                <a href="../View/covid.php">COVID-19</a>
            </nav>
        </div>


    </div>
</header>
</body>
</html>
