<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div id="header">
        <img id="ecosphere_logo" src="img/logo-paysage.png" alt="logo" width="195"/>
        <img id="isep_logo" src="img/logo-isep.png" alt="logo" width="60"/>

        <div id="banner">
            <nav class="navbar">
                <a href="index.php">Home</a>
                <a href="about.php">About</a>
                <a href="product.php">Product</a>
                <a href="help.php">Help</a>
                <a href="covid.php">COVID-19</a>
                <span class="login">
                <button class="button" onclick="">Login</button>
            </span>
            </nav>
        </div>


    </div>
</header>
</body>
</html>
