<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer>
    <div id="footer">
        <div id="banner">
            <nav class="footerNav">
                <a href="home.php">Home</a>
                <a href="profile.php">Profile</a>
                <a href="article.php">All articles</a>
                <a href="scores.php">Scores</a>
            </nav>
            <span class="footerNav">Copyright &copy; 2020</span>
        </div>
    </div>
</footer>
</body>
</html>
