<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div id="header">
        <img id="ecosphere_logo" src="img/logo-paysage.png" alt="logo" width="195"/>
        <img id="isep_logo" src="img/logo-isep.png" alt="logo" width="60"/>

        <div id="banner">
            <nav class="navbar">
                <a href="home.php">Home</a>
                <a href="profile.php">Profile</a>
                <a href="article.php">All articles</a>
                <a href="scores.php">Scores</a>
                <span >Bienvenue %UTILISATEUR%</span>
            </nav>
        </div>


    </div>
</header>
</body>
</html>
